VITE_SUPABASE_URL=https://zuwnaejrihlhdmbwoirw.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here
VITE_GOOGLE_SHEETS_ID=15QbfZGenF6uKiG4_7tKutjFkxZ4EQudetjw_wlfM4gc
VITE_GOOGLE_API_KEY=your_google_api_key_here
VITE_COLIBRI_LOGIN_URL=https://loppianopizza.colibricloud.com/login.html
